<%= form_tag({:action => "filter"}, :method => "post") do %>
  <%= label_tag(:q, "Year:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Filter") %>
<% end %>
<div id="vis"></div>
<%= render :partial => 'shared/bubbles_js' %>
